.box header{
  margin-bottom:10px;
  padding-bottom:10px;
  border-bottom:1px solid #DDD;
  font-weight:bold;
  font-size:20px;
}
.box {
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  margin-bottom:10px;
  -webkit-box-shadow:0 0 0 1px #DDD;
  -moz-box-shadow:0 0 0 1px #ddd;
  box-shadow:0 0 0 1px #DDD;
  overflow:hidden;
  padding:14px;
}
.alert header
{
  font-size:16px;
  border-bottom:none;
  padding-bottom:3px;
  margin-bottom:5px;
}
input#title,textarea#content{
  margin-top:10px;
  width: 98%;
}
div.form-actions.submitLeft{
  padding-left:20px;
}
.avatar{
  float:left;
  width:48px;
  height:48px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  margin-left:5px;
  margin-right:8px;
}
.reply-content{
  margin-left:61px;
}
.list{
	margin-bottom:10px;
	padding-bottom:10px;
	border-bottom:1px solid #DDD;
}
.small{
	margin:3px;
}
textarea#content{
	margin-bottom:10px;
}
